<% content_for(:title)  {page_title}  %>

<br>
<p class="btn btn-primary"> Please upload your csv file and should be of the format shown below </p>
<%= form_with url: import_attachments_path  do |form|  %>
  <p><%= form.file_field :file %></p>
  <%= form.submit %>
<% end %>

<br>

<% if @last_upload.present? %>
  <p> Recently uploaded CSV file</p>

<% else %>
   <p> The CSV should take the format below </p>
<% end %>

<table  class="table  table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Publisher Name</th>
      <th>UUID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @last_upload.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.date %></td>
        <td><%= book.publisher_name %></td>
        <td><%= book.uuid %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<% if @attachments.present? %>

 <p class="btn btn-success"> Previously Uploaded CSV files </p>
  <table  class="table  table-responsive">
  <thead>
    <tr>
      <th>CSV file name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= link_to "#{attachment.original_csv_filename}", attachment_url(attachment, format: "csv")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
